<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <div th:replace="css"/>
    <title></title>
</head>
<body class="layui-view-body">
<!--<div th:replace="js"/>-->
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <form class="layui-form layui-card-body" id ="editForm" >
                <div th:each="column : ${tableData.columnMap}" class="layui-form-item" th:hidden="${column.value._key}">
                    <label class="layui-form-label" th:text="${column.value.column_comment+':'}"></label>
                    <div class="layui-input-block">
                        <input type="text"
                               th:lay-verify="${(!column.value._key && column.value.is_nullable=='NO')?'required':''}"
                               autocomplete="off" class="layui-input"
                               th:id="${column.value.column_name}"
                               th:name="${column.value.column_name}"
                               th:value="${bean==null?'':bean[column.value.column_name]}"
                               th:placeholder="${column.value.column_comment}" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-blue" lay-submit lay-filter="formSubmit" >立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="js"/>
<script th:inline="javascript">
    layui.use(['http','form','laydate','util'], function(){
        let form = layui.form, $ = layui.$,laydate = layui.laydate, http = layui.http, util = layui.util;
        let tableData = [[${tableData}]];
        let tableName = [[${tableName}]];
        let primaryKey = tableData.primaryKey;
        initSearch();
        function initSearch(){
            let option = {}
            $.each(tableData.columnMap,(key,value)=>{
                let $input = $('#'+value.column_name);
                if(value.data_type==='datetime' || value.data_type==='timestamp'){
                    option.format = 'yyyy-MM-dd HH:mm:ss';
                    option.elem = '#'+value.column_name;
                    option.type =  'datetime';
                    $input.val(util.toDateString($input.val(), option.format));
                    laydate.render(option);
                }else if(value.data_type==='date'){
                    option.format = 'yyyy-MM-dd';
                    option.elem = '#'+value.column_name;
                    $input.val(util.toDateString($input.val(), option.format));
                    laydate.render(option);
                }else if(value.data_type==='time'){
                    option.type =  'time';
                    option.format = 'HH:mm:ss';
                    option.elem = '#'+value.column_name;
                    $input.val(util.toDateString($input.val(), option.format));
                    laydate.render(option);
                }
            })
        }
        //监听提交
        form.on('submit(formSubmit)', function(data){
            console.log(data)
            let param = {
                tableName:tableName
            }
            $.each(data.field,(key,value)=>{
                if(value===""){
                    data.field[key] = null;
                }

            })
            let primaryValue = data.field[primaryKey];
            if(primaryValue){
                let dataMap = JSON.stringify(data.field)
                param.whereList = JSON.stringify([{
                    key:primaryKey,
                    separator:'=',
                    value:primaryValue,
                }])
                param.modifyMap = dataMap;
                http.ajaxPost("/basic/update",param,function(data){
                    let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                    parent.layer.query()
                    parent.layer.msg("修改成功");
                });
            }else{
                param.insertMap = JSON.stringify(data.field)
                http.ajaxPost("/basic/insert",param,function(data){
                    let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                    parent.layer.query()
                    parent.layer.msg("保存成功");
                });
            }

            return false;
        });
    });
</script>
</body>
</html>