<div class="layui-header custom-header">

    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item slide-sidebar" lay-unselect>
            <a href="javascript:" class="icon-font"><i class="ai ai-menufold"></i></a>
        </li>
    </ul>

    <!--<#&#45;&#45;<ul class="layui-nav layui-layout-right">&ndash;&gt;-->
    <!--<#&#45;&#45;<li class="layui-nav-item">&ndash;&gt;-->
    <!--<#&#45;&#45;<a href="javascript:;">Admin</a>&ndash;&gt;-->
    <!--<#&#45;&#45;<dl class="layui-nav-child">&ndash;&gt;-->
    <!--<#&#45;&#45;<dd><a href="">帮助中心</a></dd>&ndash;&gt;-->
    <!--<#&#45;&#45;<dd><a href="/admin/login.html">退出</a></dd>&ndash;&gt;-->
    <!--<#&#45;&#45;</dl>&ndash;&gt;-->
    <!--<#&#45;&#45;</li>&ndash;&gt;-->
    <!--<#&#45;&#45;</ul>&ndash;&gt;-->
</div>