<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div th:replace="css"/>
    <title>管理后台</title>
</head>
<body class="layui-view-body">
<div th:replace="js"/>
<div class="layui-content">
    <div class="layui-page-header">
        <div class="pagewrap">
                <span class="layui-breadcrumb">
                  <a href="#">首页</a>
                  <a href="#">基础管理</a>
                  <a><cite th:text="${tableData.table_comment}"></cite></a>
                </span>
            <h2 class="title" th:text="${tableData.table_comment}"></h2>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="form-box">
                    <form id="queryForm">
                        <div class="layui-form layui-form-item">
                            <div class="layui-inline">
                                    <span th:each="column : ${tableData.columnMap}">
                                        <div class="layui-form-mid" th:text="${column.value.column_comment+':'}"></div>
                                        <div class="layui-input-inline" style="width: 100px;">
                                            <input type="text" th:name="${column.value.column_name}" autocomplete="off" class="layui-input"
                                                   th:placeholder="${column.value.column_comment}">
                                        </div>
                                    </span>
                                <input type="button" value="查询" class="layui-btn layui-btn-blue" id="queryButton"/>
                                <input type="button" value="重置" class="layui-btn layui-btn-primary" onclick="queryForm.reset()"/>
                            </div>
                        </div>
                    </form>
                    <table id="datatable" lay-filter="datatable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-blue layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe654;</i>添加</button>
        <button class="layui-btn layui-btn-blue layui-btn-sm" lay-event="delete"><i class="layui-icon">&#xe640;</i>删除</button>
        <button class="layui-btn layui-btn-blue layui-btn-sm" lay-event="update"><i class="layui-icon">&#xe642;</i>编辑</button>
    </div>
</script>
<script th:inline="javascript">

    layui.use(['http', 'table', 'element', 'form'], function () {
        let table = layui.table, $ = layui.$, http = layui.http;
        let tableName = [[${tableName}]];
        let tableData = [[${tableData}]];
        let primaryKey = null;
        $.each(tableData.columnMap,(key,value)=>{
            if(value._key){
                primaryKey = key;
            }
        })

        console.log(tableData)
        initTable();
        function whereList() {
            let whereList = [];
            let queryForm = $("#queryForm").serializeArray();
            let i = 0;
            $.each(queryForm, (key, input) => {
                if (input.value != '' && input.value != null) {
                    let data_type = tableData.columnMap[input.name].data_type;
                    if (data_type == 'datetime' || data_type == 'date') {
                        if (value.length == 2) {
                            whereList[i++] = {
                                key: input.name,
                                separator: '>=',
                                value: input[0]
                            };
                            whereList[i++] = {
                                key: input.name,
                                separator: '<=',
                                value: input[1]
                            };
                        }
                    } else {
                        whereList[i++] = {
                            key: input.name,
                            separator: '=',
                            value: input.value
                        };
                    }
                }
            })
            console.log(whereList)
            return whereList;
        }
        function param(){
            let params = {
                tableName: tableName
                ,whereList:JSON.stringify(whereList())
            }
            return params;
        }
        function query(){
            table.reload('datatable',{where: param()});
        }

        $("#queryButton").on("click",function(){
            query()
        })

        function initTable() {
            let cols=[
                []
            ];
            cols[0].push({type:"checkbox"})
            $.each(tableData.columnMap,(key,value)=>{
                cols[0].push({field: value.column_name, title: value.column_comment, sort: true})
            })
            //展示已知数据
            table.render({
                elem: '#datatable'
                , method: 'post'
                ,toolbar: '#toolbar'
                , where: param()
                , url: '/basic/select-selectCount'
                , parseData: function(res){
                    if(res.success){
                        return {
                            "code": res.code, //解析接口状态
                            "msg": res.msg, //解析提示文本
                            "count": res.map.selectCount, //解析数据长度
                            "data": res.map.select //解析数据列表
                        };
                    }
                }
                , cols: cols
                , data: []
                , autoSort: false
                , skin: 'line' //表格风格
                , even: true
                , page: true //是否显示分页
                , limits: [20, 50, 100,200,500]
                , limit: 20 //每页默认显示的数量
            });
            table.on('sort(datatable)', function(obj){ //datatable是table原始容器的属性 lay-filter="对应的值"
                let where = param()
                where.orderBy = obj.field;
                where.orderType = obj.type;
                table.reload('datatable', {
                    initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                    ,where: where
                });
            });
            //工具栏事件
            table.on('toolbar(datatable)', function(obj){
                let checkStatus = table.checkStatus(obj.config.id);
                let openOption = {
                    type: 2,
                    title: '很多时候，我们想最大化看，比如像这个页面。',
                    shadeClose: true,
                    shade: false,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['893px', '600px'],
                    content: '//fly.layui.com/'
                };
                switch(obj.event){
                    case 'add':
                        layer.open(openOption);
                        break;
                    case 'delete':
                        if(checkStatus.data.length==0){
                            layer.msg('请选择需要删除的行');
                        }else{
                            layer.confirm(' 确认删除?', {
                                title:'<i class="layui-icon layui-icon-tips" style="color: #1E9FFF;"></i>  提示',
                                btn: ['确定','取消'] //按钮
                            }, function(){
                                let ids="";
                                $.each(checkStatus.data,(i,item)=>{
                                    console.log(i,item)
                                if(item[primaryKey]){
                                    ids+=item[primaryKey]+",";
                                }
                            })
                                if(ids.lastIndexOf(",")!=-1){
                                    ids = ids.substr(0,ids.length-1)
                                }
                                var whereList=[{
                                    key: 'index',
                                    separator: 'in',
                                    value: ids
                                }]
                                var param={
                                    tableName:tableName,
                                    whereList:JSON.stringify(whereList)
                                }
                                http.ajaxPost("/basic/delete",param,function(data){
                                    layer.msg('删除成功');
                                    query();
                                });
                            }, function(){
                            });

                        }
                        break;
                    case 'update':
                        if(checkStatus.data.length==0) {
                            layer.msg('请选择需要编辑的行');
                        }else{
                            layer.open(openOption);
                        }
                        break;
                };
            });

        }
    })


</script>
</body>
</html>